[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2 = "*"
pytz = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
bs4 = "*"
python-dateutil = "*"
requests = "*"
html5lib = "*"

[dev-packages]
jupyterlab = "*"
pandas = "*"
altair = "*"

[requires]
python_version = "3.6"
